USE [master]
GO
/****** Object:  Database [PRN212]    Script Date: 7/14/2024 3:14:30 PM ******/
CREATE DATABASE [PRN212]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN212', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN212.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN212_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRN212_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN212].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN212]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 7/14/2024 3:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[B_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CO_ID] [int] NOT NULL,
	[B_Guest_Name] [nvarchar](100) NULL,
	[B_Booking_Type] [nvarchar](100) NOT NULL,
	[B_Total_Hours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[B_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Court]    Script Date: 7/14/2024 3:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Court](
	[CO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CO_Name] [nvarchar](255) NOT NULL,
	[CO_Path] [nvarchar](255) NULL,
	[CO_Status] [bit] NOT NULL,
	[CO_Address] [nvarchar](255) NOT NULL,
	[CO_Info] [nvarchar](1000) NOT NULL,
	[CO_Price] [float] NULL,
	[UserId] [int] NOT NULL,
	[CO_BeneficiaryAccountName] [nvarchar](50) NULL,
	[CO_BeneficiaryPayPalEmail] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourtCondition]    Script Date: 7/14/2024 3:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourtCondition](
	[CD_ID] [int] IDENTITY(1,1) NOT NULL,
	[CD_CreatedAt] [datetime] NOT NULL,
	[CD_SurfaceCondition] [int] NOT NULL,
	[CD_NetCondition] [int] NOT NULL,
	[CD_LightningCondition] [int] NOT NULL,
	[CD_CleanlinessCondition] [int] NOT NULL,
	[CD_OverallCondition] [int] NOT NULL,
	[CD_Notes] [nvarchar](max) NULL,
	[CO_ID] [int] NOT NULL,
 CONSTRAINT [PK_CourtCondition] PRIMARY KEY CLUSTERED 
(
	[CD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 7/14/2024 3:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[P_Amount] [decimal](11, 2) NOT NULL,
	[P_Date_Time] [datetime] NOT NULL,
	[B_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 7/14/2024 3:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[CourtId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Rating] [int] NULL,
	[Review] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/14/2024 3:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](56) NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 7/14/2024 3:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[TS_ID] [int] IDENTITY(1,1) NOT NULL,
	[TS_Date] [date] NOT NULL,
	[TS_Start] [time](7) NOT NULL,
	[TS_End] [time](7) NOT NULL,
	[TS_Checked_in] [bit] NOT NULL,
	[CO_ID] [int] NOT NULL,
	[B_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/14/2024 3:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 7/14/2024 3:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[RoleID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_User_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([B_ID], [UserId], [CO_ID], [B_Guest_Name], [B_Booking_Type], [B_Total_Hours]) VALUES (2, 1, 2, NULL, N'casual', NULL)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Court] ON 

INSERT [dbo].[Court] ([CO_ID], [CO_Name], [CO_Path], [CO_Status], [CO_Address], [CO_Info], [CO_Price], [UserId], [CO_BeneficiaryAccountName], [CO_BeneficiaryPayPalEmail]) VALUES (2, N'Ardar', N'1', 1, N'district 9', N'pretty', 100, 1, N'Unknow', N'unknown@gmail')
SET IDENTITY_INSERT [dbo].[Court] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (1, N'Customer', NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([TS_ID], [TS_Date], [TS_Start], [TS_End], [TS_Checked_in], [CO_ID], [B_ID]) VALUES (1, CAST(N'2023-04-10' AS Date), CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), 0, 2, 2)
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [Email], [Password], [Status]) VALUES (1, N'Layla', N'unknown@unspecified', N'123', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[User_Role] ([RoleID], [UserID]) VALUES (1, 1)
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking.CO_ID] FOREIGN KEY([CO_ID])
REFERENCES [dbo].[Court] ([CO_ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking.CO_ID]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_User]
GO
ALTER TABLE [dbo].[Court]  WITH CHECK ADD  CONSTRAINT [FK_Court_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Court] CHECK CONSTRAINT [FK_Court_User]
GO
ALTER TABLE [dbo].[CourtCondition]  WITH CHECK ADD  CONSTRAINT [FK_CourtCondition_Court] FOREIGN KEY([CO_ID])
REFERENCES [dbo].[Court] ([CO_ID])
GO
ALTER TABLE [dbo].[CourtCondition] CHECK CONSTRAINT [FK_CourtCondition_Court]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment.B_ID] FOREIGN KEY([B_ID])
REFERENCES [dbo].[Booking] ([B_ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment.B_ID]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FK_Court_Rating] FOREIGN KEY([CourtId])
REFERENCES [dbo].[Court] ([CO_ID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FK_Court_Rating]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_Time Slot.B_ID] FOREIGN KEY([B_ID])
REFERENCES [dbo].[Booking] ([B_ID])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_Time Slot.B_ID]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_Time Slot.CO_ID] FOREIGN KEY([CO_ID])
REFERENCES [dbo].[Court] ([CO_ID])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_Time Slot.CO_ID]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_User_Role_Role]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_User_Role_User]
GO
USE [master]
GO
